<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>My Projects</ion-title>
    </ion-navbar>
</ion-header>


<ion-content fullscreen="true" fixed>
    <ion-fab top right edge>
        <button color="light" ion-fab [navPush]="projectCreatePage" [navParams]="{}">
            <ion-icon name="add-circle"></ion-icon>
        </button>
    </ion-fab>

    <ion-grid>
        <ion-item-group *ngIf="draftProjects.length>0">
            <ion-item-divider color="light">Draft Projects</ion-item-divider>
            <ion-item *ngFor="let pj1 of draftProjects">
                {{pj1.name}}
            </ion-item>
        </ion-item-group>

        <ion-item-group *ngIf="awaitingProjects.length>0">
            <ion-item-divider color="light">Awaiting Projects</ion-item-divider>
            <ion-item *ngFor="let pj2 of awaitingProjects">
                {{pj2.name}}
            </ion-item>
        </ion-item-group>

        <ion-item-group *ngIf="confirmedProjects.length>0">
            <ion-item-divider color="light">Confirmed Projects</ion-item-divider>
            <ion-item *ngFor="let pj3 of confirmedProjects">
                {{pj3.name}}
            </ion-item>
        </ion-item-group>

        <ion-item-group *ngIf="committedProjects.length>0">
            <ion-item-divider color="light">Committed Projects</ion-item-divider>
            <ion-item *ngFor="let pj4 of committedProjects">
                {{pj4.name}}
            </ion-item>
        </ion-item-group>

        <ion-item-group *ngIf="declinedProjects.length>0">
            <ion-item-divider color="light">Declined Projects</ion-item-divider>
            <ion-item *ngFor="let pj5 of declinedProjects">
                {{pj5.name}}
            </ion-item>
        </ion-item-group>

    </ion-grid>
</ion-content>

