<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Create new project</ion-title>
    </ion-navbar>
</ion-header>


<ion-content fullscreen="true" fixed>
    <ion-fab top right edge>
        <button color="light" ion-fab (click)='addCreativeFounder()'>
            <ion-icon name="add-circle"></ion-icon>
        </button>
    </ion-fab>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-list>
                    <ion-item>
                        <ion-label color="primary" stacked>Project name</ion-label>
                        <ion-input full type="text" [value]="name" [(ngModel)]=name></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-label color="primary" stacked>Project email address</ion-label>
                        <ion-input full type="email" [value]="email" [(ngModel)]=email></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-label color="primary" stacked>Project description</ion-label>
                        <ion-textarea autoresize full type="textarea" [value]="description" [(ngModel)]=description></ion-textarea>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="founders.length>0">
            <ion-col>
                <div *ngFor="let founder of founders">
                    <ion-card no-padding no-margin style="width: 100%;">
                        <ion-card-content>
                            <span class="text">Email: <strong class="text">{{founder.email}}</strong></span><br>
                            <span class="text">Silver Tals: <strong class="text">{{founder.silver}}</strong></span><br>
                            <span class="text">Copper Tals: <strong class="text">{{founder.copper}}</strong></span><br>
                        </ion-card-content>
                        <ion-row>
                            <ion-col>
                                <button ion-button full (click)='editCreativeFounder(founder)'>Edit</button>
                            </ion-col>
                            <ion-col>
                                <button ion-button color="danger" full (click)='deleteCreativeFounder(founder)'>Delete
                                </button>
                            </ion-col>
                        </ion-row>
                    </ion-card>
                    <br>
                </div>
            </ion-col>
        </ion-row>

        <br>
        <ion-row>
            <ion-col>
                <button ion-button full (click)='createProject()'>Create project</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
