//@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

page-wallet {
  .address {
    margin-top: 20px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: small;
  }
}
